version: '3.1'

services:
  db:
    image: postgres
    container_name: postgresql_container
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USERNAME: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: wmm
    restart: always

  be:
    build: .
    container_name: wwe-be_container
    ports:
      - "8081:8081"
    depends_on:
      - db
    restart: always